:root{
    --corFundo:#091217;
    --fundoCdastro:#23242a;
    --vermelho: rgba(234, 21, 57, 0.808);
}

*{
    margin: 0;
    padding: 0;
}

body{
   background-color: var(--fundoCdastro);
   background-attachment: fixed;
   background-size: 100%;
}

.form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.esquerda{
    display: flex;
    flex-direction: left;
    padding: 3em;
}
.esquerda label{
    color: white;;
    font-size: 1.1em;
    font-weight: 700;
    align-self: center;
    width: 300px;
    font-size: 1.2em ;
}


.esquerda input{
    width: 300px;
    height: 2em;
    outline: none;
    background-color: transparent;
    border-width: 0px 0px 2px 0px;
    border-color: crimson;
    color: white;
    font-size: 1.2em ;
}

.direita{
    display: flex;
    flex-direction: right;
    padding: 3em;
}

.direita p{
    text-align: center;
    color: white;
    font-size: 1.1em;
    font-weight: 700;
    font-size: 1.2em ;
}

.direita textarea{
    width: 400px;
    font-size: 1.2em ;
}

.campoDireita{
    padding: 5px;
    color: white;
    border: 2px solid crimson;
    background-color: var(--fundoCdastro);
    outline: none;
    text-align: justify;
}

.botoes{
    height: 120px;
    width: 100%;
    margin-top: 2em;
    display: flex;
    flex-direction: row-reverse;
    flex-direction: column;
    align-items: center;

}

#cadastrar{
    width: 350px;
    height: 50px;
    border-style: none;
    border-radius: 30px;
    font-size:1.2em;
    font-weight: 700;
    color: white;
    cursor: pointer;
    transition: ease .40s;
}

#cadastrar{
    background-color: var(--vermelho);
}

#cadastrar:hover {
    background-color: white;
    border: solid 2px var(--vermelho);
    border-radius: 30px;
    color: black;
    transform: translateY(-10px);
}


.column{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#mv{
    text-align: center;
    color: var(--vermelho);
    font-size: 2em;
    font-weight: 500;
    margin: 2em;

}

.minhas_vagas{
    width: 100%;
}

.vaga{
     display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    margin: auto;
    width: 90%;
    color: white;
    border-top: 1px solid white;
}

.data{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:0.4em;
    justify-content: right;
}

.data>img{
    height: 20px;
    width: 20px;
}

#cidade>img{
    height: 20px;
    width: 20px;
}

.vaga-btn>a{
    padding: 5px;
    text-align: center;
    color: white;
    width: 150px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: var(--vermelho);
    transition: ease .40s;
}

.vaga-btn>a:hover{
    background-color: white;
    border: solid 2px var(--vermelho);
    border-radius: 30px;
    color: black;
    transform: translateY(-10px);
}

#alterar{
    text-align: center;
    color: white;
    width: 150px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: green;
    transition: ease .40s;
}

#alterar:hover{

    background-color: white;
    border: solid 2px var(--vermelho);
    border-radius: 30px;
    color: black;
    transform: translateY(-10px);
}

.vaga-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}





/*Fim minhas vagas*/
  






   
